language: go
go:
- 1.14.x
env:
  global:
  - GO111MODULE=on
  - PATH=~/gopath/bin:$PATH DEBIAN_FRONTEND=noninteractive
  - secure: "V0XY5XWhVQuGsE35J5QqIKa77tgfIYIa6z6k1qgRjW+Wy7DDFhIsPRdziayZZJOhwBqQBsVikIP4rXgkByEVhkUv8oIfL/V0BLkHsuNUjJVtloOqe9mpDlWzeMyi3KUfBTb9IW0nrwcEwZF8/dtQEmSW62RbupO3F/lpVEbrxXY="
install:
- sudo apt-get update
- DEBIAN_FRONTEND=noninteractive sudo apt-get install -y rpm devscripts debhelper fakeroot crossbuild-essential-arm64
- mkdir -p ~/rpmbuild/{BUILD,BUILDROOT,RPMS,SOURCES,SPECS,SRPMS}
script:
- make all
after_script:
- goveralls -coverprofile=.profile.cov
before_deploy:
- go get github.com/x-motemen/gobump/cmd/gobump
- go get github.com/mackerelio/golib/cmd/mackerel-github-release
deploy:
- provider: script
  script: mackerel-github-release && mackerel-github-release -staging
  skip_cleanup: true
  on:
    branch: master
notifications:
  slack:
    secure: cPeJRg+ouTlemEV5UM4muhDwtIM0dktcs3mnfB73oZ2MGOimv/DFpL+VTRLlkWau8l0dT4ngLlGPcveLrXQXwps2LsJMr+gS6Az/CAQCIl21oj4bnjs5uGYTG8hM8ymVzGINPNnj5Fnn5DUMunA2sow30qxfuCnSUMGot2nFRKw=
