#!/usr/bin/make -f

%:
	dh $@

package=mackerel-agent-plugins

override_dh_auto_install:
	dh_auto_install
	install -d -m 755 debian/tmp/usr/local/bin
	install    -m 755 debian/mackerel-plugin-mysql debian/tmp/usr/local/bin
	install    -m 755 debian/mackerel-plugin-memcached debian/tmp/usr/local/bin
	install    -m 755 debian/mackerel-plugin-nginx debian/tmp/usr/local/bin

override_dh_usrlocal:


