#!/usr/bin/make -f

%:
	dh $@

package=mackerel-agent-plugins

override_dh_auto_install:
	dh_auto_install
	install -d -m 755 debian/tmp/usr/local/bin
	for i in apache2 aws-ec2-cpucredit aws-elasticache aws-elasticsearch aws-elb aws-rds aws-ses elasticsearch gostats haproxy jvm linux memcached mongodb munin mysql nginx php-apc php-opcache plack postgres redis snmp squid td-table-count trafficserver varnish xentop aws-cloudfront aws-ec2-ebs fluentd docker unicorn inode;do \
	    install -m755 debian/mackerel-plugin-$$i debian/tmp/usr/local/bin; \
	done

override_dh_usrlocal:


